<div class="bit-array">
	@for (int i = 7; i >= 0; i--)
	{
		int offset = i;
		int value = (CurrentByte >> offset) & 1;
		<button @onclick="@(() => ToggleBit(offset))"
				class="@(value == 1 ? "one" : "")">
			@(value)
		</button>
	}
	<aside>@(BitOffset)</aside>
</div>

@code {
	[Parameter] public int BitOffset { get; set; }
	[Parameter] public byte CurrentByte { get; set; }
	[Parameter] public EventCallback<ChangeEventArgs> OnModify { get; set; }

	private void ToggleBit(int offset)
	{
		byte newByte = (byte)(CurrentByte ^ (1 << offset));
		ByteModifier byteModifier = new ByteModifier(newByte, BitOffset);

		ChangeEventArgs args = new();
		args.Value = byteModifier;
		OnModify.InvokeAsync(args);
	}
}
