@inherits LayoutComponentBase

<nav class="flex-row-s-c gap-b">
	<h1>Bit Calculator</h1>
	<button @onclick="@(Do)">Do</button>
</nav>

<section>
	@Body
</section> 

@code {
	private void Do() {
		 
	}
}