@inherits LayoutComponentBase
@inject IJSRuntime JS

<nav class="flex-row-s-c gap-b">
	<h1>Bit Calculator</h1>

	<div style="background: rebeccapurple;" @onclick="@(SetThemeNight)" />
	<div style="background: pink;" @onclick="@(SetThemePastel)" />
	<div style="background: blue;" @onclick="@(SetThemeBlue)" />
	<div style="background: hotpink;" @onclick="@(SetThemeK)" />

</nav>

<section>
	@Body
</section>


@code {

	private async Task SetThemeNight() => await ThemeTime(@"
  --clr-back: #02011a;
  --clr-main: #400976;
  --clr-input: #8153ff;
  --clr-button: #6732c4;
  --clr-bit: #624ba7;
  --clr-error: #a6166c;
");

	private async Task SetThemePastel() => await ThemeTime( @"
  --clr-back: #cdb4db;
  --clr-main: #ffc8e4;
  --clr-input: #ffa4c5;
  --clr-button: #90c9ff;
  --clr-bit: #b3dcff;
  --clr-error: #ff9b9b;
");

	private async Task SetThemeBlue() => await ThemeTime(@"
  --clr-back: #1c2141;
  --clr-main: #125fb1;
  --clr-input: #559eff;
  --clr-button: #00bbff;
  --clr-bit: #559eff;
  --clr-error: #cc5974;
");

	private async Task SetThemeK() => await ThemeTime(@"
  --clr-back: #2d3047;
  --clr-main: #c32187;
  --clr-input: #e2367e;
  --clr-button: #89cc5d;
  --clr-bit: #c25dc4;
  --clr-error: #cf302a;
");

	

	private async Task ThemeTime(string themeInput)
	{
		await JS.InvokeVoidAsync("setCssVariables", Themify(themeInput));
	}

	private Dictionary<string, string> Themify(string input)
	{
		string[] kvp = input.Split([':', ';'], StringSplitOptions.RemoveEmptyEntries)
			.Select(s => s.Trim())
			.Where(s => s.Length > 0)
			.ToArray();

		Dictionary<string, string> map = new();
		for (int i = 0; i+1 < kvp.Length; i += 2)
					map.Add(kvp[i], kvp[i + 1]);
		
		return map;
	}
}