* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Consolas", monospace, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-synthesis: none;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 0;
  scroll-behavior: smooth;
  color: white;
}

:root {
  /* WIDTH */
  --main-width: min(90vw, 1200px);
  --inset: calc((100vw - var(--main-width)) * 0.5);
  /* COLORS */
  --clr-grey-1: rgb(225, 225, 225);
  --clr-grey-2: rgb(200, 200, 200);
  --clr-grey-3: rgb(175, 175, 175);
  --clr-grey-4: rgb(150, 150, 150);
  --clr-grey-5: rgb(125, 125, 125);
  --clr-grey-6: rgb(100, 100, 100);
  --clr-grey-7: rgb(075, 075, 075);
  --clr-grey-8: rgb(050, 050, 050);
  --clr-grey-9: rgb(025, 025, 025);
  /*--clr-accent-1: rgb(235, 247, 255);
  --clr-accent-2: rgb(221, 246, 255);
  --clr-accent-3: rgb(184, 236, 255);
  --clr-accent-4: rgb(146, 226, 255);
  --clr-accent-5: rgb(102, 194, 255);
  --clr-accent-6: rgb(019, 160, 255);
  --clr-accent-7: rgb(011, 134, 215);*/
  --clr-background: rgb(30, 20, 36);
  --clr-section: rgb(65, 32, 89);

  --clr-tint: rgb(139, 74, 185);
  --clr-tint-hover: rgb(172, 102, 221);
  --clr-tint-press: rgb(116, 60, 157);

  --clr-next-base: rgb(85, 0, 150);
  --clr-next-hover: rgb(111, 0, 197);
  --clr-next-press: rgb(61, 0, 107);

  --clr-red: #e34668;
  --clr-red-light: #723554;
}

html,
body,
main {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--clr-background);
}

main {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

nav {
  width: 100vw;
  height: 3rem;
  background-color: var(--clr-section);
  padding: 0 var(--inset);
}

section {
  margin: 0 var(--inset);
  flex: 1;
  background-color: var(--clr-section);
  box-shadow:
    0 4px 8px 0 #00000033,
    0 6px 20px 0 #00000033;
  padding: 1rem;
  overflow-x: hidden;
}

hr {
  margin: 1rem 0;
  border: 1px solid white;
}

.loading-progress {
  position: relative;
  display: block;
  width: 8rem;
  height: 8rem;
  margin: 20vh auto 1rem auto;
}

.loading-progress circle {
  fill: none;
  stroke: #e0e0e0;
  stroke-width: 0.6rem;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
}

.loading-progress circle:last-child {
  stroke: #1b6ec2;
  stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8);
  stroke-dashoffset: 0;
  transition: stroke-dasharray 0.05s ease-in-out;
}

.loading-progress-text {
  position: absolute;
  text-align: center;
  font-weight: bold;
  inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}
