h1 {
  font-size: 2rem;
  font-weight: bold;
  flex: 1;
  color: var(--clr-button-text);
  @media screen and (max-width: 600px) {
    font-size: 1.25rem;
  }
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;

  @media screen and (max-width: 600px) {
    font-size: 1.25rem;
  }
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

b {
  font-weight: bold;
}

button {
  cursor: pointer;
  background-color: var(--clr-button);
  border: none;

  &:hover {
    background-color: var(--clr-button-soft);
  }

  &:active {
    background-color: var(--clr-button-dark);
  }
}
