h1 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  flex: 1;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

b {
  font-weight: bold;
}

button {
  cursor: pointer;
  color: white;
  background-color: var(--clr-accent-5);
  border: none;

  &:hover {
    background-color: var(--clr-accent-4);
  }

  &:active {
    background-color: var(--clr-accent-6);
  }
}
