.integer-sizes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.number-display {
  input {
    margin: 8px 0;
    padding: 0.25rem;
    width: 100%;

    border: none;
    font-size: 1.5rem;

    background-color: var(--clr-tint-base);
    &:focus,
    &:hover {
      background-color: var(--clr-tint-hover);
    }

    &.oob {
      &:focus {
        outline: 2px solid var(--clr-red);
      }

      background-color: var(--clr-red-light);
    }
  }

  .number-buttons {
    margin-bottom: 0.25rem;
  }

  div {
    flex-wrap: wrap;

    button {
      padding: 0.25rem 0.5rem;
      min-width: 2.5rem;

      border: none;
    }
  }
}

.byte-array {
  display: grid;
  grid-template-columns: repeat(2, max-content);

  @media screen and (max-width: 720px) {
    grid-template-columns: max-content;
  }

  gap: 0.25rem 1rem;
  padding: 0.5rem 0;

  .bit-array {
    position: relative;
    display: grid;
    grid-template-columns: repeat(9, max-content);
    border: 1px solid white;

    aside {
      color: var(--clr-background);
      background-color: white;
      position: absolute;
      bottom: -0.75rem;
      right: -0.75rem;
      z-index: 1;

      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;

      pointer-events: none;
      user-select: none;
      transform: scale(0.75);
    }

    div {
      width: 2px;
      background-color: white;
    }

    button {
      width: 1.5rem;
      height: 1.5rem;
      border: 1px solid white;

      @media screen and (min-width: 400px) {
        font-size: 1.25rem;
        width: 2rem;
        height: 2rem;
      }

      background-color: var(--clr-next-base);

      &:hover {
        background-color: var(--clr-next-hover);
      }

      &:active {
        background-color: var(--clr-next-press);
      }
    }
  }
}

.copy-text {
  cursor: pointer;
  width: 100%;
  user-select: none;
  overflow-wrap: break-word;
  padding: 2px 4px;

  &:hover {
    background-color: var(--clr-tint-base);
  }

  &:active {
    background-color: var(--clr-tint-press);
  }
}

.operator-buttons {
  margin-top: 1rem;
  flex-wrap: wrap;
}

.operator-button {
  min-width: 3rem;
  min-height: 3rem;
  padding: 0.5rem;
  border: none;
  font-size: 1.25rem;
  background-color: var(--clr-tint-base);

  &:hover {
    background-color: var(--clr-tint-hover);
  }

  &:active {
    background-color: var(--clr-tint-press);
  }
}

.calculator {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  @media screen and (max-width: 1200px) {
    flex-direction: column-reverse;
  }
}
