.calculator {
  height: 100%;

  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex: 1;
}

@media screen and (max-width: 1200px) {
  .calculator {
    flex-direction: column-reverse;
  }

  .history .list {
    max-height: 20vh;
  }
}

.integer-size-selection {
  width: 13rem;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 0 2rem;
  font-weight: bold;
}

.history {
  width: 100%;

  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: visible;

  button {
    width: 100%;
    padding: 0.25rem;
    font-weight: bold;
  }

  .list {
    width: 100%;
    min-height: 3rem;

    padding: 0.25rem;
    margin-top: 0.5rem;
    border: 2px solid white;
    border-radius: 5px;
    overflow: auto;
    flex: 1;
    animation: flash 1s ease forwards;

    &.inactive {
      display: none;
    }

    & > :first-child {
      font-weight: bold;
      border-bottom: 1px solid white;
      padding-bottom: 0.25rem;
      margin-bottom: 0.25rem;
    }

    p {
      user-select: all;
      cursor: cell;
    }
  }
}

@keyframes flash {
  0% {
    background-color: white;
  }

  100% {
    background-color: var(--clr-bit);
  }
}

.number-display {
  .input-area {
    position: relative;

    label {
      position: absolute;
      top: 0.65rem;
      left: 0.25rem;
      font-size: 1.25rem;
      color: white;
      pointer-events: none;
    }

    input {
      margin: 8px 0;
      padding: 0.25rem;
      padding-left: calc(2px + 1.75rem);
      width: 100%;

      border: none;
      border-radius: 5px;
      font-size: 1.35rem;

      background-color: var(--clr-input);
      &:hover {
        background-color: var(--clr-input-soft);
      }
      &:focus {
        background-color: var(--clr-input-dark);
      }

      &.oob {
        &:focus {
          outline: 2px solid var(--clr-error-soft);
        }

        background-color: var(--clr-error);
      }
    }
  }
}

.number-buttons {
  margin-bottom: 0.25rem;
  flex-wrap: wrap;

  div {
    margin: 2px 0.5rem;
    border: 1px solid white;
    align-self: stretch;
  }

  button {
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    min-width: 2.5rem;
  }
}

.value-reader {
  width: 100%;
  display: flex;
  user-select: none;
  border-radius: 5px;
  border-inline: 1px solid transparent;

  &:hover,
  &.selected {
    border-inline-color: white;
  }

  button {
    padding: 0 0.5rem;
    background-color: var(--clr-main);
    height: auto;

    &:hover {
      background-color: var(--clr-main-soft);
    }

    &.selected,
    &:active {
      background-color: var(--clr-main-dark);
    }

    img {
      width: 1rem;
      height: 1rem;
    }

    &:last-child {
      flex: 1;
      text-align: left;
      white-space: normal;
      word-break: break-all;
    }
  }
}

.byte-array {
  padding: 0.5rem 0;

  display: grid;
  gap: 0.25rem 1rem;
  grid-template-columns: repeat(2, max-content);

  @media screen and (max-width: 720px) {
    grid-template-columns: max-content;
  }
}

.bit-array {
  position: relative;
  display: grid;
  grid-template-columns: repeat(9, max-content);

  border: 1px solid var(--clr-bit-array);
  border-radius: 5px;

  aside {
    color: var(--clr-back);
    background-color: var(--clr-bit-array);
    position: absolute;
    bottom: -0.75rem;
    right: -0.75rem;
    z-index: 1;

    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
    user-select: none;
    transform: scale(0.75);
  }

  div {
    width: 2px;
    background-color: var(--clr-bit-array);
  }

  button {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid var(--clr-bit-array);
    border-radius: 0;

    @media screen and (min-width: 630px) and (min-height: 800px) {
      font-size: 1.25rem;
      width: 2rem;
      height: 2rem;
    }

    background-color: var(--clr-bit);

    &:hover {
      background-color: var(--clr-bit-soft);
    }

    &:active {
      background-color: var(--clr-bit-dark);
    }

    &.one {
      filter: hue-rotate(20deg) brightness(1.05);
    }
  }

  & > *:nth-child(4) {
    border-right: 3px solid;
  }
}

.operator-buttons {
  margin-top: 1rem;
  flex-wrap: wrap;

  button {
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
  }
}
